.player-place{
    margin: 5em 0em 5em 5em;
}

.side-by-side{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.suggestions{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em 15em 15em 7em;
}

.title-align{
    margin-left: 10em;
}

.post-align{
    margin: 2em 10em;
}


.vid-space{
    margin: 1em;
}

.order {
    max-width: fit-content;
}